In [10]:
# List of the 32 countries in the 2018 World Cup
country_names = ['Brazil', 'Germany', 'Spain', 'Argentina', 'France',
                 'Portugal', 'England', 'Colombia', 'Belgium', 'Peru',
                 'Uruguay', 'Switzerland', 'Mexico', 'Croatia', 'Denmark',
                 'Poland', 'Sweden', 'Iran', 'Iceland', 'Serbia',
                 'Senegal', 'South Korea', 'Costa Rica', 'Australia', 'Morocco',
                 'Nigeria', 'Japan', 'Russia', 'Panama', 'Tunisia',
                 'Egypt', 'Saudi Arabia']

## Player Data

In [11]:
import pandas as pd

# Load player data and only keep players from countries in the 2018 World Cup
raw_player_df = pd.read_csv('CompleteDataset.csv').drop('Unnamed: 0', axis=1).drop_duplicates()
raw_player_df = raw_player_df.dropna(subset=['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value', 'Wage'])
raw_player_df['Nationality'] = raw_player_df['Nationality'].replace('Korea Republic', 'South Korea')
total_player_df = raw_player_df[raw_player_df['Nationality'].isin(country_names)].copy()
total_player_df

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,https://cdn.sofifa.org/48/18/players/188545.png,Poland,https://cdn.sofifa.org/flags/37.png,91,91,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€92M,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,https://cdn.sofifa.org/48/18/players/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,90,92,Manchester United,https://cdn.sofifa.org/24/18/teams/11.png,€64.5M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,https://cdn.sofifa.org/48/18/players/183277.png,Belgium,https://cdn.sofifa.org/flags/7.png,90,91,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,€90.5M,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,https://cdn.sofifa.org/48/18/players/182521.png,Germany,https://cdn.sofifa.org/flags/21.png,90,90,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€79M,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,https://cdn.sofifa.org/48/18/players/167664.png,Argentina,https://cdn.sofifa.org/flags/52.png,90,90,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€77M,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,https://cdn.sofifa.org/48/18/players/155862.png,Spain,https://cdn.sofifa.org/flags/45.png,90,90,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€52M,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,https://cdn.sofifa.org/48/18/players/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,89,92,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€83M,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,https://cdn.sofifa.org/48/18/players/192119.png,Belgium,https://cdn.sofifa.org/flags/7.png,89,92,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,€59M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,L. Modrić,31,https://cdn.sofifa.org/48/18/players/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,89,89,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€57M,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
16,S. Agüero,29,https://cdn.sofifa.org/48/18/players/153079.png,Argentina,https://cdn.sofifa.org/flags/52.png,89,89,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€66.5M,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
19,P. Dybala,23,https://cdn.sofifa.org/48/18/players/211110.png,Argentina,https://cdn.sofifa.org/flags/52.png,88,93,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€79M,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
21,A. Griezmann,26,https://cdn.sofifa.org/48/18/players/194765.png,France,https://cdn.sofifa.org/flags/18.png,88,91,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,€75M,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,https://cdn.sofifa.org/48/18/players/189509.png,Spain,https://cdn.sofifa.org/flags/45.png,88,90,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€70.5M,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
25,J. Boateng,28,https://cdn.sofifa.org/48/18/players/183907.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€48M,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,https://cdn.sofifa.org/48/18/players/182493.png,Uruguay,https://cdn.sofifa.org/flags/60.png,88,88,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,€40M,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,https://cdn.sofifa.org/48/18/players/178603.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€48M,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,https://cdn.sofifa.org/48/18/players/176635.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,Arsenal,https://cdn.sofifa.org/24/18/teams/1.png,€60M,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,https://cdn.sofifa.org/48/18/players/167948.png,France,https://cdn.sofifa.org/flags/18.png,88,88,Tottenham Hotspur,https://cdn.sofifa.org/24/18/teams/18.png,€38M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Thiago Silva,32,https://cdn.sofifa.org/48/18/players/164240.png,Brazil,https://cdn.sofifa.org/flags/54.png,88,88,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€34M,...,81.0,85.0,77.0,83.0,69.0,70.0,67.0,68.0,79.0,67.0
31,Z. Ibrahimović,35,https://cdn.sofifa.org/48/18/players/41236.png,Sweden,https://cdn.sofifa.org/flags/46.png,88,88,Manchester United,https://cdn.sofifa.org/24/18/teams/11.png,€27M,...,54.0,52.0,78.0,60.0,83.0,80.0,84.0,82.0,58.0,84.0
33,N. Kanté,26,https://cdn.sofifa.org/48/18/players/215914.png,France,https://cdn.sofifa.org/flags/18.png,87,90,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,€52.5M,...,82.0,81.0,81.0,84.0,76.0,78.0,72.0,76.0,83.0,72.0
35,P. Pogba,24,https://cdn.sofifa.org/48/18/players/195864.png,France,https://cdn.sofifa.org/flags/18.png,87,92,Manchester United,https://cdn.sofifa.org/24/18/teams/11.png,€66.5M,...,75.0,74.0,84.0,79.0,83.0,83.0,81.0,82.0,77.0,81.0
36,C. Eriksen,25,https://cdn.sofifa.org/48/18/players/190460.png,Denmark,https://cdn.sofifa.org/flags/13.png,87,91,Tottenham Hotspur,https://cdn.sofifa.org/24/18/teams/18.png,€65M,...,64.0,53.0,83.0,68.0,82.0,84.0,77.0,83.0,69.0,77.0
38,E. Cavani,30,https://cdn.sofifa.org/48/18/players/179813.png,Uruguay,https://cdn.sofifa.org/flags/60.png,87,87,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€48.5M,...,61.0,58.0,74.0,62.0,82.0,79.0,84.0,80.0,64.0,84.0
39,Marcelo,29,https://cdn.sofifa.org/48/18/players/176676.png,Brazil,https://cdn.sofifa.org/flags/54.png,87,87,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€38M,...,84.0,82.0,80.0,82.0,79.0,81.0,77.0,80.0,84.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17921,J. Schau,18,https://cdn.sofifa.org/48/18/players/239566.png,Germany,https://cdn.sofifa.org/flags/21.png,49,67,FC Carl Zeiss Jena,https://cdn.sofifa.org/24/18/teams/110591.png,€50K,...,50.0,47.0,47.0,48.0,44.0,47.0,43.0,44.0,50.0,43.0
17923,H. Tanaka,34,https://cdn.sofifa.org/48/18/players/232924.png,Japan,https://cdn.sofifa.org/flags/163.png,49,49,Vissel Kobe,https://cdn.sofifa.org/24/18/teams/101146.png,€10K,...,47.0,49.0,48.0,50.0,44.0,47.0,44.0,44.0,48.0,44.0
17924,T. Matsumoto,18,https://cdn.sofifa.org/48/18/players/237535.png,Japan,https://cdn.sofifa.org/flags/163.png,49,69,Sanfrecce Hiroshima,https://cdn.sofifa.org/24/18/teams/113157.png,€60K,...,48.0,47.0,48.0,49.0,45.0,46.0,43.0,45.0,47.0,43.0
17925,V. Fazliu,21,https://cdn.sofifa.org/48/18/players/231651.png,Switzerland,https://cdn.sofifa.org/flags/47.png,49,63,Grasshopper Club Zürich,https://cdn.sofifa.org/24/18/teams/322.png,€60K,...,34.0,31.0,48.0,35.0,53.0,51.0,53.0,52.0,36.0,53.0
17928,J. Cuero,17,https://cdn.sofifa.org/48/18/players/240102.png,Colombia,https://cdn.sofifa.org/flags/56.png,49,69,La Equidad,https://cdn.sofifa.org/24/18/teams/112523.png,€60K,...,48.0,46.0,48.0,47.0,47.0,49.0,45.0,47.0,48.0,45.0
17929,C. Salkeld,18,https://cdn.sofifa.org/48/18/players/236776.png,England,https://cdn.sofifa.org/flags/14.png,49,66,Carlisle United,https://cdn.sofifa.org/24/18/teams/1480.png,€60K,...,42.0,37.0,46.0,42.0,47.0,49.0,44.0,48.0,43.0,44.0
17930,C. Gnerlich,18,https://cdn.sofifa.org/48/18/players/240112.png,Germany,https://cdn.sofifa.org/flags/21.png,49,62,SV Meppen,https://cdn.sofifa.org/24/18/teams/110597.png,€50K,...,50.0,47.0,46.0,48.0,44.0,47.0,42.0,46.0,50.0,42.0
17933,H. Pickering,18,https://cdn.sofifa.org/48/18/players/235770.png,England,https://cdn.sofifa.org/flags/14.png,49,64,Crewe Alexandra,https://cdn.sofifa.org/24/18/teams/121.png,€50K,...,48.0,48.0,39.0,44.0,40.0,43.0,39.0,42.0,47.0,39.0
17936,T. Donaldson,19,https://cdn.sofifa.org/48/18/players/237330.png,England,https://cdn.sofifa.org/flags/14.png,48,68,Doncaster Rovers,https://cdn.sofifa.org/24/18/teams/142.png,€60K,...,46.0,44.0,49.0,47.0,47.0,48.0,45.0,46.0,46.0,45.0
17937,V. Soromytko,22,https://cdn.sofifa.org/48/18/players/239933.png,Russia,https://cdn.sofifa.org/flags/40.png,48,57,FC SKA-Energiya Khabarovsk,https://cdn.sofifa.org/24/18/teams/110101.png,€30K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17942,E. Hudson,18,https://cdn.sofifa.org/48/18/players/232840.png,England,https://cdn.sofifa.org/flags/14.png,48,64,Bradford City,https://cdn.sofifa.org/24/18/teams/1804.png,€60K,...,47.0,44.0,46.0,45.0,46.0,47.0,44.0,46.0,47.0,44.0
17944,M. Foy,18,https://cdn.sofifa.org/48/18/players/227224.png,England,https://cdn.sofifa.org/flags/14.png,48,68,Cambridge United,https://cdn.sofifa.org/24/18/teams/1944.png,€60K,...,38.0,31.0,41.0,34.0,48.0,47.0,47.0,49.0,39.0,47.0
17946,Y. Uchimura,32,https://cdn.sofifa.org/48/18/players/237746.png,Japan,https://cdn.sofifa.org/flags/163.png,48,48,Hokkaido Consadole Sapporo,https://cdn.sofifa.org/24/18/teams/112444.png,€20K,...,44.0,42.0,49.0,47.0,44.0,47.0,41.0,45.0,45.0,41.0
17950,D. Amos,17,https://cdn.sofifa.org/48/18/players/235994.png,England,https://cdn.sofifa.org/flags/14.png,48,74,Doncaster Rovers,https://cdn.sofifa.org/24/18/teams/142.png,€60K,...,47.0,47.0,47.0,47.0,46.0,48.0,44.0,47.0,48.0,44.0
17953,K. Cotter,18,https://cdn.sofifa.org/48/18/players/238833.png,England,https://cdn.sofifa.org/flags/14.png,48,67,Luton Town,https://cdn.sofifa.org/24/18/teams/1923.png,€60K,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,https://cdn.sofifa.org/48/18/players/225778.png,England,https://cdn.sofifa.org/flags/14.png,48,64,Bradford City,https://cdn.sofifa.org/24/18/teams/1804.png,€60K,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17956,Z. Mohammed,17,https://cdn.sofifa.org/48/18/players/240381.png,England,https://cdn.sofifa.org/flags/14.png,48,64,Accrington Stanley,https://cdn.sofifa.org/24/18/teams/110313.png,€50K,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17961,J. Latibeaudiere,17,https://cdn.sofifa.org/48/18/players/233047.png,England,https://cdn.sofifa.org/flags/14.png,47,73,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€60K,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,https://cdn.sofifa.org/48/18/players/236425.png,England,https://cdn.sofifa.org/flags/14.png,47,63,Barnet,https://cdn.sofifa.org/24/18/teams/135.png,€50K,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17966,K. Fujikawa,18,https://cdn.sofifa.org/48/18/players/238477.png,Japan,https://cdn.sofifa.org/flags/163.png,47,67,Júbilo Iwata,https://cdn.sofifa.org/24/18/teams/101144.png,€60K,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,https://cdn.sofifa.org/48/18/players/231824.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Exeter City,https://cdn.sofifa.org/24/18/teams/143.png,€60K,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,https://cdn.sofifa.org/48/18/players/237974.png,England,https://cdn.sofifa.org/flags/14.png,47,68,Morecambe,https://cdn.sofifa.org/24/18/teams/357.png,€60K,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17970,A. Kilgour,19,https://cdn.sofifa.org/48/18/players/231107.png,England,https://cdn.sofifa.org/flags/14.png,47,56,Bristol Rovers,https://cdn.sofifa.org/24/18/teams/1962.png,€40K,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,https://cdn.sofifa.org/48/18/players/240325.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Bolton Wanderers,https://cdn.sofifa.org/24/18/teams/4.png,€60K,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17973,T. Sawyer,18,https://cdn.sofifa.org/48/18/players/240403.png,England,https://cdn.sofifa.org/flags/14.png,46,58,Grimsby Town,https://cdn.sofifa.org/24/18/teams/92.png,€50K,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,https://cdn.sofifa.org/48/18/players/240404.png,England,https://cdn.sofifa.org/flags/14.png,46,56,Grimsby Town,https://cdn.sofifa.org/24/18/teams/92.png,€40K,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,https://cdn.sofifa.org/48/18/players/235352.png,Germany,https://cdn.sofifa.org/flags/21.png,46,46,FC Erzgebirge Aue,https://cdn.sofifa.org/24/18/teams/506.png,€30K,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,€50K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,https://cdn.sofifa.org/24/18/teams/1933.png,€0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17979,J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,https://cdn.sofifa.org/24/18/teams/121.png,€60K,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0

In [12]:
# For each player, document what positions he plays
positions_dict_list = []
for i, row in total_player_df.iterrows():
    player_id = row['ID']
    for position in row['Preferred Positions'].strip().split(' '):
        overall = row['Overall'] if position == 'GK' else row[position]
        positions_dict_list.append({'player_id' : player_id, 'position' : position, 'overall' : overall})

In [13]:
# Create DataFrame of players by their positions
player_position_df = pd.DataFrame(positions_dict_list)[['player_id', 'position', 'overall']]
player_position_df = player_position_df.dropna().drop_duplicates()
player_position_df['overall'] = player_position_df['overall'].astype(int)
player_position_df

       player_id position  overall
0          20801       ST       92
1          20801       LW       91
2         158023       RW       91
3         190871       LW       89
4         176580       ST       88
5         167495       GK       92
6         188545       ST       88
7         193080       GK       90
8         183277       LW       88
9         182521      CDM       82
10        182521       CM       87
11        167664       ST       87
12        155862       CB       87
13        192985       RM       85
14        192985       CM       84
15        192985      CAM       86
16        192119       GK       89
17        177003      CDM       80
18        177003       CM       86
19        153079       ST       86
20        211110       ST       83
21        211110      CAM       86
22        194765       LW       86
23        194765       RW       86
24        194765       ST       85
25        189509      CDM       76
26        189509      CAM       86
27        189509       CM       85
28        183907       CB       85
29        182493       CB       86
...          ...      ...      ...
19146     240112      CDM       48
19147     235770       LM       43
19148     235770       LB       48
19149     237330      CAM       47
19150     239933       GK       48
19151     232840       LM       47
19152     227224       ST       47
19153     237746      CAM       47
19154     235994       LM       48
19155     235994       LB       47
19156     238833       RB       47
19157     238833       CM       47
19158     225778       LM       47
19159     240381       CB       47
19160     233047       CB       46
19161     236425       CB       46
19162     236425       LB       46
19163     238477       CM       46
19164     231824       RB       46
19165     237974       CB       46
19166     231107       CB       46
19167     240325       ST       52
19168     240325       RM       46
19169     240325       LM       46
19170     240403       CM       45
19171     240404       CB       45
19172     235352       CM       45
19173     237463       GK       46
19174      11728       GK       46
19175     238813       CM       45

[19176 rows x 3 columns]

In [14]:
# Project chosen columns from player data to make a player DataFrame
player_df = total_player_df[['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value', 'Wage']].copy()
player_df.columns = ['player_id', 'name', 'age', 'nationality', 'overall', 'potential', 'club', 'value', 'wage']
player_df = player_df.drop_duplicates().dropna()
player_df

,player_id,name,age,nationality,overall,potential,club,value,wage
0,20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€95.5M,€565K
1,158023,L. Messi,30,Argentina,93,93,FC Barcelona,€105M,€565K
2,190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,€123M,€280K
3,176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,€97M,€510K
4,167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,€61M,€230K
5,188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€92M,€355K
6,193080,De Gea,26,Spain,90,92,Manchester United,€64.5M,€215K
7,183277,E. Hazard,26,Belgium,90,91,Chelsea,€90.5M,€295K
8,182521,T. Kroos,27,Germany,90,90,Real Madrid CF,€79M,€340K
9,167664,G. Higuaín,29,Argentina,90,90,Juventus,€77M,€275K
10,155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€52M,€310K
11,192985,K. De Bruyne,26,Belgium,89,92,Manchester City,€83M,€285K
12,192119,T. Courtois,25,Belgium,89,92,Chelsea,€59M,€190K
14,177003,L. Modrić,31,Croatia,89,89,Real Madrid CF,€57M,€340K
16,153079,S. Agüero,29,Argentina,89,89,Manchester City,€66.5M,€325K
19,211110,P. Dybala,23,Argentina,88,93,Juventus,€79M,€215K
21,194765,A. Griezmann,26,France,88,91,Atlético Madrid,€75M,€150K
22,189509,Thiago,26,Spain,88,90,FC Bayern Munich,€70.5M,€225K
25,183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,€48M,€215K
26,182493,D. Godín,31,Uruguay,88,88,Atlético Madrid,€40M,€125K
27,178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,€48M,€215K
28,176635,M. Özil,28,Germany,88,88,Arsenal,€60M,€265K
29,167948,H. Lloris,30,France,88,88,Tottenham Hotspur,€38M,€165K
30,164240,Thiago Silva,32,Brazil,88,88,Paris Saint-Germain,€34M,€175K
31,41236,Z. Ibrahimović,35,Sweden,88,88,Manchester United,€27M,€240K
33,215914,N. Kanté,26,France,87,90,Chelsea,€52.5M,€190K
35,195864,P. Pogba,24,France,87,92,Manchester United,€66.5M,€195K
36,190460,C. Eriksen,25,Denmark,87,91,Tottenham Hotspur,€65M,€165K
38,179813,E. Cavani,30,Uruguay,87,87,Paris Saint-Germain,€48.5M,€160K
39,176676,Marcelo,29,Brazil,87,87,Real Madrid CF,€38M,€250K
...,...,...,...,...,...,...,...,...,...
17921,239566,J. Schau,18,Germany,49,67,FC Carl Zeiss Jena,€50K,€1K
17923,232924,H. Tanaka,34,Japan,49,49,Vissel Kobe,€10K,€1K
17924,237535,T. Matsumoto,18,Japan,49,69,Sanfrecce Hiroshima,€60K,€1K
17925,231651,V. Fazliu,21,Switzerland,49,63,Grasshopper Club Zürich,€60K,€2K
17928,240102,J. Cuero,17,Colombia,49,69,La Equidad,€60K,€1K
17929,236776,C. Salkeld,18,England,49,66,Carlisle United,€60K,€1K
17930,240112,C. Gnerlich,18,Germany,49,62,SV Meppen,€50K,€1K
17933,235770,H. Pickering,18,England,49,64,Crewe Alexandra,€50K,€1K
17936,237330,T. Donaldson,19,England,48,68,Doncaster Rovers,€60K,€1K
17937,239933,V. Soromytko,22,Russia,48,57,FC SKA-Energiya Khabarovsk,€30K,€2K
17942,232840,E. Hudson,18,England,48,64,Bradford City,€60K,€1K
17944,227224,M. Foy,18,England,48,68,Cambridge United,€60K,€2K
17946,237746,Y. Uchimura,32,Japan,48,48,Hokkaido Consadole Sapporo,€20K,€1K
17950,235994,D. Amos,17,England,48,74,Doncaster Rovers,€60K,€1K
17953,238833,K. Cotter,18,England,48,67,Luton Town,€60K,€1K
17954,225778,T. Robinson,19,England,48,64,Bradford City,€60K,€1K
17956,240381,Z. Mohammed,17,England,48,64,Accrington Stanley,€50K,€1K
17961,233047,J. Latibeaudiere,17,England,47,73,Manchester City,€60K,€5K
17962,236425,J. Payne,18,England,47,63,Barnet,€50K,€1K
17966,238477,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€60K,€1K
17967,231824,K. Egan,19,England,47,67,Exeter City,€60K,€1K
17968,237974,T. Brownsword,17,England,47,68,Morecambe,€60K,€1K
17970,231107,A. Kilgour,19,England,47,56,Bristol Rovers,€40K,€1K
17971,240325,R. White,18,England,47,65,Bolton Wanderers,€60K,€2K
17973,240403,T. Sawyer,18,England,46,58,Grimsby Town,€50K,€1K
17974,240404,J. Keeble,18,England,46,56,Grimsby Town,€40K,€1K
17975,235352,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€30K,€1K
17976,237463,A. Kelsey,17,England,46,63,Scunthorpe United,€50K,€1K
17977,11728,B. Richardson,47,England,46,46,Wycombe Wanderers,€0,€1K
17979,238813,J. Lundstram,18,England,46,64,Crewe Alexandra,€60K,€1K

In [15]:
# Convert player values and wages to real integers
def convert_value(val):
    if val[-1] == 'M':
        return float(val[1:-1]) * 1000000
    elif val[-1] == 'K':
        return float(val[1:-1]) * 1000
    else:
        return 0
        
player_df['value'] = player_df['value'].apply(convert_value).astype(int)
player_df['wage'] = player_df['wage'].apply(convert_value).astype(int)

In [16]:
player_df

,player_id,name,age,nationality,overall,potential,club,value,wage
0,20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,95500000,565000
1,158023,L. Messi,30,Argentina,93,93,FC Barcelona,105000000,565000
2,190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,123000000,280000
3,176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,97000000,510000
4,167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,61000000,230000
5,188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,92000000,355000
6,193080,De Gea,26,Spain,90,92,Manchester United,64500000,215000
7,183277,E. Hazard,26,Belgium,90,91,Chelsea,90500000,295000
8,182521,T. Kroos,27,Germany,90,90,Real Madrid CF,79000000,340000
9,167664,G. Higuaín,29,Argentina,90,90,Juventus,77000000,275000
10,155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,52000000,310000
11,192985,K. De Bruyne,26,Belgium,89,92,Manchester City,83000000,285000
12,192119,T. Courtois,25,Belgium,89,92,Chelsea,59000000,190000
14,177003,L. Modrić,31,Croatia,89,89,Real Madrid CF,57000000,340000
16,153079,S. Agüero,29,Argentina,89,89,Manchester City,66500000,325000
19,211110,P. Dybala,23,Argentina,88,93,Juventus,79000000,215000
21,194765,A. Griezmann,26,France,88,91,Atlético Madrid,75000000,150000
22,189509,Thiago,26,Spain,88,90,FC Bayern Munich,70500000,225000
25,183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,48000000,215000
26,182493,D. Godín,31,Uruguay,88,88,Atlético Madrid,40000000,125000
27,178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,48000000,215000
28,176635,M. Özil,28,Germany,88,88,Arsenal,60000000,265000
29,167948,H. Lloris,30,France,88,88,Tottenham Hotspur,38000000,165000
30,164240,Thiago Silva,32,Brazil,88,88,Paris Saint-Germain,34000000,175000
31,41236,Z. Ibrahimović,35,Sweden,88,88,Manchester United,27000000,240000
33,215914,N. Kanté,26,France,87,90,Chelsea,52500000,190000
35,195864,P. Pogba,24,France,87,92,Manchester United,66500000,195000
36,190460,C. Eriksen,25,Denmark,87,91,Tottenham Hotspur,65000000,165000
38,179813,E. Cavani,30,Uruguay,87,87,Paris Saint-Germain,48500000,160000
39,176676,Marcelo,29,Brazil,87,87,Real Madrid CF,38000000,250000
...,...,...,...,...,...,...,...,...,...
17921,239566,J. Schau,18,Germany,49,67,FC Carl Zeiss Jena,50000,1000
17923,232924,H. Tanaka,34,Japan,49,49,Vissel Kobe,10000,1000
17924,237535,T. Matsumoto,18,Japan,49,69,Sanfrecce Hiroshima,60000,1000
17925,231651,V. Fazliu,21,Switzerland,49,63,Grasshopper Club Zürich,60000,2000
17928,240102,J. Cuero,17,Colombia,49,69,La Equidad,60000,1000
17929,236776,C. Salkeld,18,England,49,66,Carlisle United,60000,1000
17930,240112,C. Gnerlich,18,Germany,49,62,SV Meppen,50000,1000
17933,235770,H. Pickering,18,England,49,64,Crewe Alexandra,50000,1000
17936,237330,T. Donaldson,19,England,48,68,Doncaster Rovers,60000,1000
17937,239933,V. Soromytko,22,Russia,48,57,FC SKA-Energiya Khabarovsk,30000,2000
17942,232840,E. Hudson,18,England,48,64,Bradford City,60000,1000
17944,227224,M. Foy,18,England,48,68,Cambridge United,60000,2000
17946,237746,Y. Uchimura,32,Japan,48,48,Hokkaido Consadole Sapporo,20000,1000
17950,235994,D. Amos,17,England,48,74,Doncaster Rovers,60000,1000
17953,238833,K. Cotter,18,England,48,67,Luton Town,60000,1000
17954,225778,T. Robinson,19,England,48,64,Bradford City,60000,1000
17956,240381,Z. Mohammed,17,England,48,64,Accrington Stanley,50000,1000
17961,233047,J. Latibeaudiere,17,England,47,73,Manchester City,60000,5000
17962,236425,J. Payne,18,England,47,63,Barnet,50000,1000
17966,238477,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,60000,1000
17967,231824,K. Egan,19,England,47,67,Exeter City,60000,1000
17968,237974,T. Brownsword,17,England,47,68,Morecambe,60000,1000
17970,231107,A. Kilgour,19,England,47,56,Bristol Rovers,40000,1000
17971,240325,R. White,18,England,47,65,Bolton Wanderers,60000,2000
17973,240403,T. Sawyer,18,England,46,58,Grimsby Town,50000,1000
17974,240404,J. Keeble,18,England,46,56,Grimsby Town,40000,1000
17975,235352,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,30000,1000
17976,237463,A. Kelsey,17,England,46,63,Scunthorpe United,50000,1000
17977,11728,B. Richardson,47,England,46,46,Wycombe Wanderers,0,1000
17979,238813,J. Lundstram,18,England,46,64,Crewe Alexandra,60000,1000

In [17]:
# Remove accents from player and club names
import unidecode

player_df['name'] = player_df['name'].apply(unidecode.unidecode)
player_df['club'] = player_df['club'].apply(unidecode.unidecode)
player_df

,player_id,name,age,nationality,overall,potential,club,value,wage
0,20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,95500000,565000
1,158023,L. Messi,30,Argentina,93,93,FC Barcelona,105000000,565000
2,190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,123000000,280000
3,176580,L. Suarez,30,Uruguay,92,92,FC Barcelona,97000000,510000
4,167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,61000000,230000
5,188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,92000000,355000
6,193080,De Gea,26,Spain,90,92,Manchester United,64500000,215000
7,183277,E. Hazard,26,Belgium,90,91,Chelsea,90500000,295000
8,182521,T. Kroos,27,Germany,90,90,Real Madrid CF,79000000,340000
9,167664,G. Higuain,29,Argentina,90,90,Juventus,77000000,275000
10,155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,52000000,310000
11,192985,K. De Bruyne,26,Belgium,89,92,Manchester City,83000000,285000
12,192119,T. Courtois,25,Belgium,89,92,Chelsea,59000000,190000
14,177003,L. Modric,31,Croatia,89,89,Real Madrid CF,57000000,340000
16,153079,S. Aguero,29,Argentina,89,89,Manchester City,66500000,325000
19,211110,P. Dybala,23,Argentina,88,93,Juventus,79000000,215000
21,194765,A. Griezmann,26,France,88,91,Atletico Madrid,75000000,150000
22,189509,Thiago,26,Spain,88,90,FC Bayern Munich,70500000,225000
25,183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,48000000,215000
26,182493,D. Godin,31,Uruguay,88,88,Atletico Madrid,40000000,125000
27,178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,48000000,215000
28,176635,M. Ozil,28,Germany,88,88,Arsenal,60000000,265000
29,167948,H. Lloris,30,France,88,88,Tottenham Hotspur,38000000,165000
30,164240,Thiago Silva,32,Brazil,88,88,Paris Saint-Germain,34000000,175000
31,41236,Z. Ibrahimovic,35,Sweden,88,88,Manchester United,27000000,240000
33,215914,N. Kante,26,France,87,90,Chelsea,52500000,190000
35,195864,P. Pogba,24,France,87,92,Manchester United,66500000,195000
36,190460,C. Eriksen,25,Denmark,87,91,Tottenham Hotspur,65000000,165000
38,179813,E. Cavani,30,Uruguay,87,87,Paris Saint-Germain,48500000,160000
39,176676,Marcelo,29,Brazil,87,87,Real Madrid CF,38000000,250000
...,...,...,...,...,...,...,...,...,...
17921,239566,J. Schau,18,Germany,49,67,FC Carl Zeiss Jena,50000,1000
17923,232924,H. Tanaka,34,Japan,49,49,Vissel Kobe,10000,1000
17924,237535,T. Matsumoto,18,Japan,49,69,Sanfrecce Hiroshima,60000,1000
17925,231651,V. Fazliu,21,Switzerland,49,63,Grasshopper Club Zurich,60000,2000
17928,240102,J. Cuero,17,Colombia,49,69,La Equidad,60000,1000
17929,236776,C. Salkeld,18,England,49,66,Carlisle United,60000,1000
17930,240112,C. Gnerlich,18,Germany,49,62,SV Meppen,50000,1000
17933,235770,H. Pickering,18,England,49,64,Crewe Alexandra,50000,1000
17936,237330,T. Donaldson,19,England,48,68,Doncaster Rovers,60000,1000
17937,239933,V. Soromytko,22,Russia,48,57,FC SKA-Energiya Khabarovsk,30000,2000
17942,232840,E. Hudson,18,England,48,64,Bradford City,60000,1000
17944,227224,M. Foy,18,England,48,68,Cambridge United,60000,2000
17946,237746,Y. Uchimura,32,Japan,48,48,Hokkaido Consadole Sapporo,20000,1000
17950,235994,D. Amos,17,England,48,74,Doncaster Rovers,60000,1000
17953,238833,K. Cotter,18,England,48,67,Luton Town,60000,1000
17954,225778,T. Robinson,19,England,48,64,Bradford City,60000,1000
17956,240381,Z. Mohammed,17,England,48,64,Accrington Stanley,50000,1000
17961,233047,J. Latibeaudiere,17,England,47,73,Manchester City,60000,5000
17962,236425,J. Payne,18,England,47,63,Barnet,50000,1000
17966,238477,K. Fujikawa,18,Japan,47,67,Jubilo Iwata,60000,1000
17967,231824,K. Egan,19,England,47,67,Exeter City,60000,1000
17968,237974,T. Brownsword,17,England,47,68,Morecambe,60000,1000
17970,231107,A. Kilgour,19,England,47,56,Bristol Rovers,40000,1000
17971,240325,R. White,18,England,47,65,Bolton Wanderers,60000,2000
17973,240403,T. Sawyer,18,England,46,58,Grimsby Town,50000,1000
17974,240404,J. Keeble,18,England,46,56,Grimsby Town,40000,1000
17975,235352,T. Kassemodel,28,Germany,46,46,FC Erzgebirge Aue,30000,1000
17976,237463,A. Kelsey,17,England,46,63,Scunthorpe United,50000,1000
17977,11728,B. Richardson,47,England,46,46,Wycombe Wanderers,0,1000
17979,238813,J. Lundstram,18,England,46,64,Crewe Alexandra,60000,1000

In [18]:
player_df.dtypes

player_id       int64
name           object
age             int64
nationality    object
overall         int64
potential       int64
club           object
value           int64
wage            int64
dtype: object

## Country Elo Data

In [19]:
from bs4 import BeautifulSoup

# Open BeatifulSoup on html file containing country performance data
input_html = "World Football Elo Ratings.html"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'html5lib')

In [20]:
# Find all relevant data in the html file
soup_result = soup.find_all('div', ['local-cell', 'global-cell', 'team-cell', 'rating-cell'])
soup_text = [tag.text for tag in soup_result]
soup_text = soup_text[soup_text.index('1') :]

In [21]:
# Column names to be used for country DataFrame
country_ratings_schema = ['local_rank', 'global_rank', 'country', 'elo_rating', 'average_rank', 'average_elo_rating',
                          'rank_year_change', 'elo_rating_year_change', 'total_matches', 'home_matches',
                          'away_matches', 'neutral_matches', 'wins', 'losses', 'draws', 'goals_for', 'goals_against']

# Use the BeatifulSoup/html data to populate the country DataFrame
country_dict_list = []
for i, val in enumerate(soup_text):
    if i % len(country_ratings_schema) == 0:
        country_dict = {}
    country_dict[country_ratings_schema[i % len(country_ratings_schema)]] = val
    if i % len(country_ratings_schema) == len(country_ratings_schema) - 1:
        country_dict_list.append(country_dict)
country_df = pd.DataFrame(country_dict_list)[country_ratings_schema]
country_df

,local_rank,global_rank,country,elo_rating,average_rank,average_elo_rating,rank_year_change,elo_rating_year_change,total_matches,home_matches,away_matches,neutral_matches,wins,losses,draws,goals_for,goals_against
0,1,1,Brazil,2131,4,1993,0,+8,962,336,314,312,609,157,196,2089,880
1,2,2,Germany,2092,8,1907,0,+45,940,409,380,151,548,201,191,2115,1102
2,3,3,Spain,2048,7,1936,+1,+44,680,298,267,115,398,129,153,1354,617
3,4,4,Argentina,1985,5,1983,−1,−20,1003,352,392,259,536,218,249,1884,1066
4,5,5,France,1984,17,1772,0,−7,825,423,309,93,400,253,172,1456,1175
5,6,6,Portugal,1975,19,1779,+5,+52,595,277,225,93,285,174,136,993,700
6,7,7,England,1941,4,1981,+3,+15,1035,449,483,103,604,191,240,2437,1020
7,8,8,Colombia,1935,51,1585,−1,−25,555,163,202,190,216,190,149,698,668
8,9,9,Belgium,1931,24,1735,+3,+43,760,368,330,62,318,279,163,1323,1244
9,10,11,Peru,1906,35,1667,+6,+58,615,236,221,158,199,263,153,774,883
10,11,13,Uruguay,1890,12,1875,0,+20,918,308,394,216,401,295,222,1460,1155
11,12,14,Switzerland,1879,28,1675,+1,+20,786,379,350,57,275,342,169,1140,1341
12,13,16,Mexico,1859,20,1775,−7,−75,885,269,239,377,455,224,206,1603,918
13,14,17,Croatia,1853,12,1874,−1,−5,297,121,127,49,158,59,80,519,284
14,15,18,Denmark,1843,20,1793,+17,+122,803,365,360,78,366,275,162,1471,1128
15,16,19,Poland,1831,29,1709,−5,−32,820,347,370,103,356,261,203,1404,1110
16,17,20,Sweden,1796,16,1796,+1,+9,1020,443,464,113,500,300,220,2067,1357
17,18,21,Iran,1793,41,1645,+4,+19,583,202,166,215,323,119,141,1095,462
18,19,22,Iceland,1787,81,1408,0,+4,428,185,207,36,134,215,79,513,714
19,20,24,Serbia,1770,20,1784,+9,+25,754,265,368,121,351,239,164,1411,1044
20,21,27,Senegal,1747,58,1578,+9,+35,569,186,217,166,241,168,160,750,564
21,22,30,South Korea,1746,37,1679,−3,−22,941,302,231,408,511,199,231,1714,867
22,23,31,Costa Rica,1745,34,1695,−5,−24,680,230,243,207,317,201,162,1222,771
23,24,40,Australia,1714,36,1650,−3,+3,535,231,196,108,270,150,115,1078,604
24,25,41,Morocco,1711,44,1652,+17,+91,606,258,199,149,283,146,177,877,529
25,26,43,Nigeria,1699,40,1666,+7,+31,603,211,239,153,276,153,174,901,616
26,27,44,Japan,1693,62,1476,−21,−89,707,278,176,253,329,225,153,1227,851
27,28,45,Russia,1685,22,1739,+3,+11,696,252,327,117,361,153,182,1223,686
28,29,49,Panama,1663,102,1335,+3,+18,475,171,179,125,148,210,117,570,750
29,30,51,Tunisia,1649,53,1602,+19,+93,642,292,216,134,265,194,183,912,710
30,31,52,Egypt,1646,34,1671,−12,−39,752,306,246,200,381,193,178,1331,805
31,32,67,Saudi Arabia,1568,77,1490,−11,−55,687,278,123,286,337,193,157,1108,739

In [22]:
# Convert weird negative sign to actual negative sign
def replace_negative(val):
    if val[0] == '−':
        return '-' + val[1:]
    else:
        return val
        
# Replace negative signs for yearly change of rank and elo rating
country_df['rank_year_change'] = country_df['rank_year_change'].apply(replace_negative)
country_df['elo_rating_year_change'] = country_df['elo_rating_year_change'].apply(replace_negative)

# Convert all columns except the country name to integers
for attr in country_ratings_schema:
    if attr != 'country':
        country_df[attr] = country_df[attr].astype(int)

In [23]:
country_df.dtypes

local_rank                 int64
global_rank                int64
country                   object
elo_rating                 int64
average_rank               int64
average_elo_rating         int64
rank_year_change           int64
elo_rating_year_change     int64
total_matches              int64
home_matches               int64
away_matches               int64
neutral_matches            int64
wins                       int64
losses                     int64
draws                      int64
goals_for                  int64
goals_against              int64
dtype: object

In [24]:
# Project chosen columns of country DataFrame
country_df = country_df[['local_rank', 'global_rank', 'country', 'elo_rating',
                         'rank_year_change', 'elo_rating_year_change', 'total_matches',
                         'wins', 'losses', 'draws', 'goals_for', 'goals_against']]
country_df

,local_rank,global_rank,country,elo_rating,rank_year_change,elo_rating_year_change,total_matches,wins,losses,draws,goals_for,goals_against
0,1,1,Brazil,2131,0,8,962,609,157,196,2089,880
1,2,2,Germany,2092,0,45,940,548,201,191,2115,1102
2,3,3,Spain,2048,1,44,680,398,129,153,1354,617
3,4,4,Argentina,1985,-1,-20,1003,536,218,249,1884,1066
4,5,5,France,1984,0,-7,825,400,253,172,1456,1175
5,6,6,Portugal,1975,5,52,595,285,174,136,993,700
6,7,7,England,1941,3,15,1035,604,191,240,2437,1020
7,8,8,Colombia,1935,-1,-25,555,216,190,149,698,668
8,9,9,Belgium,1931,3,43,760,318,279,163,1323,1244
9,10,11,Peru,1906,6,58,615,199,263,153,774,883
10,11,13,Uruguay,1890,0,20,918,401,295,222,1460,1155
11,12,14,Switzerland,1879,1,20,786,275,342,169,1140,1341
12,13,16,Mexico,1859,-7,-75,885,455,224,206,1603,918
13,14,17,Croatia,1853,-1,-5,297,158,59,80,519,284
14,15,18,Denmark,1843,17,122,803,366,275,162,1471,1128
15,16,19,Poland,1831,-5,-32,820,356,261,203,1404,1110
16,17,20,Sweden,1796,1,9,1020,500,300,220,2067,1357
17,18,21,Iran,1793,4,19,583,323,119,141,1095,462
18,19,22,Iceland,1787,0,4,428,134,215,79,513,714
19,20,24,Serbia,1770,9,25,754,351,239,164,1411,1044
20,21,27,Senegal,1747,9,35,569,241,168,160,750,564
21,22,30,South Korea,1746,-3,-22,941,511,199,231,1714,867
22,23,31,Costa Rica,1745,-5,-24,680,317,201,162,1222,771
23,24,40,Australia,1714,-3,3,535,270,150,115,1078,604
24,25,41,Morocco,1711,17,91,606,283,146,177,877,529
25,26,43,Nigeria,1699,7,31,603,276,153,174,901,616
26,27,44,Japan,1693,-21,-89,707,329,225,153,1227,851
27,28,45,Russia,1685,3,11,696,361,153,182,1223,686
28,29,49,Panama,1663,3,18,475,148,210,117,570,750
29,30,51,Tunisia,1649,19,93,642,265,194,183,912,710
30,31,52,Egypt,1646,-12,-39,752,381,193,178,1331,805
31,32,67,Saudi Arabia,1568,-11,-55,687,337,193,157,1108,739

In [25]:
# Store group information in a DataFrame
group_df = pd.read_csv('groups.csv')
group_df

         country group
0          Egypt     A
1         Russia     A
2   Saudi Arabia     A
3        Uruguay     A
4           Iran     B
5        Morocco     B
6       Portugal     B
7          Spain     B
8      Australia     C
9        Denmark     C
10        France     C
11          Peru     C
12     Argentina     D
13       Croatia     D
14       Iceland     D
15       Nigeria     D
16        Brazil     E
17    Costa Rica     E
18   Switzerland     E
19        Serbia     E
20       Germany     F
21   South Korea     F
22        Mexico     F
23        Sweden     F
24       Belgium     G
25       England     G
26        Panama     G
27       Tunisia     G
28      Colombia     H
29         Japan     H
30        Poland     H
31       Senegal     H

In [26]:
# Merge country_df and group_df to add group data for each country
country_df = country_df.merge(group_df, left_on='country', right_on='country')
country_df

,local_rank,global_rank,country,elo_rating,rank_year_change,elo_rating_year_change,total_matches,wins,losses,draws,goals_for,goals_against,group
0,1,1,Brazil,2131,0,8,962,609,157,196,2089,880,E
1,2,2,Germany,2092,0,45,940,548,201,191,2115,1102,F
2,3,3,Spain,2048,1,44,680,398,129,153,1354,617,B
3,4,4,Argentina,1985,-1,-20,1003,536,218,249,1884,1066,D
4,5,5,France,1984,0,-7,825,400,253,172,1456,1175,C
5,6,6,Portugal,1975,5,52,595,285,174,136,993,700,B
6,7,7,England,1941,3,15,1035,604,191,240,2437,1020,G
7,8,8,Colombia,1935,-1,-25,555,216,190,149,698,668,H
8,9,9,Belgium,1931,3,43,760,318,279,163,1323,1244,G
9,10,11,Peru,1906,6,58,615,199,263,153,774,883,C
10,11,13,Uruguay,1890,0,20,918,401,295,222,1460,1155,A
11,12,14,Switzerland,1879,1,20,786,275,342,169,1140,1341,E
12,13,16,Mexico,1859,-7,-75,885,455,224,206,1603,918,F
13,14,17,Croatia,1853,-1,-5,297,158,59,80,519,284,D
14,15,18,Denmark,1843,17,122,803,366,275,162,1471,1128,C
15,16,19,Poland,1831,-5,-32,820,356,261,203,1404,1110,H
16,17,20,Sweden,1796,1,9,1020,500,300,220,2067,1357,F
17,18,21,Iran,1793,4,19,583,323,119,141,1095,462,B
18,19,22,Iceland,1787,0,4,428,134,215,79,513,714,D
19,20,24,Serbia,1770,9,25,754,351,239,164,1411,1044,E
20,21,27,Senegal,1747,9,35,569,241,168,160,750,564,H
21,22,30,South Korea,1746,-3,-22,941,511,199,231,1714,867,F
22,23,31,Costa Rica,1745,-5,-24,680,317,201,162,1222,771,E
23,24,40,Australia,1714,-3,3,535,270,150,115,1078,604,C
24,25,41,Morocco,1711,17,91,606,283,146,177,877,529,B
25,26,43,Nigeria,1699,7,31,603,276,153,174,901,616,D
26,27,44,Japan,1693,-21,-89,707,329,225,153,1227,851,H
27,28,45,Russia,1685,3,11,696,361,153,182,1223,686,A
28,29,49,Panama,1663,3,18,475,148,210,117,570,750,G
29,30,51,Tunisia,1649,19,93,642,265,194,183,912,710,G
30,31,52,Egypt,1646,-12,-39,752,381,193,178,1331,805,A
31,32,67,Saudi Arabia,1568,-11,-55,687,337,193,157,1108,739,A

## Country Economic Data

In [27]:
# Parse economic data for each country and store in a list of dictionaries
with open('EconomicData.csv') as econ_file:
    lines = econ_file.read().splitlines()[1:]
    econ_dict_list = []
    for i in range(len(country_names)):
        country = lines[4 * i].split(',')[0]
        gdp = lines[4 * i].split(',')[-1]
        gdp_per_capita = lines[4 * i + 1].split(',')[-1]
        unemployment = lines[4 * i + 2].split(',')[-1]
        interest_rate = lines[4 * i + 3].split(',')[-1]
        econ_dict_list.append({'country' : country, 'gdp' : gdp, 'gdp_per_capita' : gdp_per_capita,
                               'unemployment_rate' : unemployment, 'interest_rate' : interest_rate})
# Store econ data in a DataFrame
econ_df = pd.DataFrame(econ_dict_list)
econ_df

,country,gdp,gdp_per_capita,interest_rate,unemployment_rate
0,Germany,3781698549834.74,45845.5265423811,1.329210698624,4.09999990463257
1,Brazil,2248106280710.07,10826.2714348298,8.33256679010704,11.6000003814697
2,Spain,1464508831011.81,31505.2929758767,0.283304212129877,19.6000003814697
3,Argentina,445226712654.891,10153.9979117337,40.6753096494524,..
4,France,2810525379194.34,42015.7382940858,0.38526565465024,10.1000003814697
5,Portugal,231561559532.622,22426.2879274072,1.42589299973585,11.1000003814697
6,United Kingdom,2753793133582.5,41981.3920892747,2.00236447669423,4.80000019073486
7,Colombia,366158592495.197,7525.85532571096,5.85243195842476,8.39999961853027
8,Belgium,515557225002.467,45469.7108326081,1.58390325573154,7.80000019073486
9,Peru,193483725407.038,6089.40346827584,3.64246308356282,6.59999990463257
10,Uruguay,48250518688.4947,14009.9984403322,7.04851239712634,7.80000019073486
11,Switzerland,642089703646.215,76691.1168436405,-0.566143534099083,4.90000009536743
12,Mexico,1238150693413.41,9707.90800508327,4.60958260195012,3.90000009536743
13,Croatia,60328288795.9258,14452.1430277933,-0.104514875391416,13.1000003814697
14,Denmark,347519725465.965,60670.2372143145,-0.0464441635455159,6.19999980926514
15,Poland,572056239015.817,15065.9712477303,0.416249586969514,6.19999980926514
16,Sweden,560386605247.826,56473.022779491,1.59325140634409,7
17,"""Iran",540581254038.18,6733.9134736377,1.60718948786945,12.3999996185303
18,Iceland,16249289009.3572,48441.8597997166,2.04196051218798,3
19,Serbia,41308012849.7895,5852.38429895795,2.53455485585154,15.3000001907349
20,Senegal,16833353304.076,1092.25116227774,1.11350543212474,..
21,"""Korea",1304658664205.44,25458.8870089242,1.80730348847811,3.70000004768372
22,Costa Rica,47184044862.6725,9714.09989691182,2.29764777592536,9
23,Australia,1343181238465.26,55478.5772943505,-0.41372321405467,5.69999980926514
24,Morocco,114783961362.676,3204.86465254499,1.60184142275439,9.39999961853027
25,Nigeria,456775408619.476,2455.91855879433,9.54367007038431,7.09999990463257
26,Japan,6047894004051.61,47623.2709305964,0.267867384755462,3.09999990463257
27,Russian Federation,1654433869549.9,11279.6253410461,3.6103493778149,..
28,Panama,44304199791.0644,10982.3730512324,0.9333116355632,4.40000009536743
29,Tunisia,48639094592.7065,4265.37198811308,5.49219760058901,15.5
30,"""Egypt",260693936973.86,2724.39680691031,6.25238317807792,12.3999996185303
31,Saudi Arabia,690549935520,21395.3597802581,-2.51384468385538,5.59999990463257

In [28]:
# Fix country names in econ_df
econ_df['country'] = econ_df['country'].replace(
    {'United Kingdom' : 'England', '"Iran' : 'Iran', '"Korea' : 'South Korea',
     'Russian Federation' : 'Russia', '"Egypt' : 'Egypt'})

In [29]:
econ_df.dtypes

country              object
gdp                  object
gdp_per_capita       object
interest_rate        object
unemployment_rate    object
dtype: object

In [30]:
# Replace missing values with NaNs
def nullify(val):
    if val == '..':
        return float('NaN')
    else:
        return val
    
econ_df['unemployment_rate'] = econ_df['unemployment_rate'].apply(nullify)

In [31]:
# Convert economic data to float type
econ_df['gdp'] = econ_df['gdp'].astype(float)
econ_df['gdp_per_capita'] = econ_df['gdp_per_capita'].astype(float)
econ_df['interest_rate'] = econ_df['interest_rate'].astype(float)
econ_df['unemployment_rate'] = econ_df['unemployment_rate'].astype(float)

In [32]:
econ_df

,country,gdp,gdp_per_capita,interest_rate,unemployment_rate
0,Germany,3.781699e+12,45845.526542,1.329211,4.1
1,Brazil,2.248106e+12,10826.271435,8.332567,11.6
2,Spain,1.464509e+12,31505.292976,0.283304,19.6
3,Argentina,4.452267e+11,10153.997912,40.675310,NaN
4,France,2.810525e+12,42015.738294,0.385266,10.1
5,Portugal,2.315616e+11,22426.287927,1.425893,11.1
6,England,2.753793e+12,41981.392089,2.002364,4.8
7,Colombia,3.661586e+11,7525.855326,5.852432,8.4
8,Belgium,5.155572e+11,45469.710833,1.583903,7.8
9,Peru,1.934837e+11,6089.403468,3.642463,6.6
10,Uruguay,4.825052e+10,14009.998440,7.048512,7.8
11,Switzerland,6.420897e+11,76691.116844,-0.566144,4.9
12,Mexico,1.238151e+12,9707.908005,4.609583,3.9
13,Croatia,6.032829e+10,14452.143028,-0.104515,13.1
14,Denmark,3.475197e+11,60670.237214,-0.046444,6.2
15,Poland,5.720562e+11,15065.971248,0.416250,6.2
16,Sweden,5.603866e+11,56473.022779,1.593251,7.0
17,Iran,5.405813e+11,6733.913474,1.607189,12.4
18,Iceland,1.624929e+10,48441.859800,2.041961,3.0
19,Serbia,4.130801e+10,5852.384299,2.534555,15.3
20,Senegal,1.683335e+10,1092.251162,1.113505,NaN
21,South Korea,1.304659e+12,25458.887009,1.807303,3.7
22,Costa Rica,4.718404e+10,9714.099897,2.297648,9.0
23,Australia,1.343181e+12,55478.577294,-0.413723,5.7
24,Morocco,1.147840e+11,3204.864653,1.601841,9.4
25,Nigeria,4.567754e+11,2455.918559,9.543670,7.1
26,Japan,6.047894e+12,47623.270931,0.267867,3.1
27,Russia,1.654434e+12,11279.625341,3.610349,NaN
28,Panama,4.430420e+10,10982.373051,0.933312,4.4
29,Tunisia,4.863909e+10,4265.371988,5.492198,15.5
30,Egypt,2.606939e+11,2724.396807,6.252383,12.4
31,Saudi Arabia,6.905499e+11,21395.359780,-2.513845,5.6

In [33]:
econ_df.dtypes

country               object
gdp                  float64
gdp_per_capita       float64
interest_rate        float64
unemployment_rate    float64
dtype: object

## Full Country Data

In [34]:
# Merge country elo data and economic data into one DataFrame
country_full_df = country_df.merge(econ_df, left_on='country', right_on='country')
country_full_df

,local_rank,global_rank,country,elo_rating,rank_year_change,elo_rating_year_change,total_matches,wins,losses,draws,goals_for,goals_against,group,gdp,gdp_per_capita,interest_rate,unemployment_rate
0,1,1,Brazil,2131,0,8,962,609,157,196,2089,880,E,2.248106e+12,10826.271435,8.332567,11.6
1,2,2,Germany,2092,0,45,940,548,201,191,2115,1102,F,3.781699e+12,45845.526542,1.329211,4.1
2,3,3,Spain,2048,1,44,680,398,129,153,1354,617,B,1.464509e+12,31505.292976,0.283304,19.6
3,4,4,Argentina,1985,-1,-20,1003,536,218,249,1884,1066,D,4.452267e+11,10153.997912,40.675310,NaN
4,5,5,France,1984,0,-7,825,400,253,172,1456,1175,C,2.810525e+12,42015.738294,0.385266,10.1
5,6,6,Portugal,1975,5,52,595,285,174,136,993,700,B,2.315616e+11,22426.287927,1.425893,11.1
6,7,7,England,1941,3,15,1035,604,191,240,2437,1020,G,2.753793e+12,41981.392089,2.002364,4.8
7,8,8,Colombia,1935,-1,-25,555,216,190,149,698,668,H,3.661586e+11,7525.855326,5.852432,8.4
8,9,9,Belgium,1931,3,43,760,318,279,163,1323,1244,G,5.155572e+11,45469.710833,1.583903,7.8
9,10,11,Peru,1906,6,58,615,199,263,153,774,883,C,1.934837e+11,6089.403468,3.642463,6.6
10,11,13,Uruguay,1890,0,20,918,401,295,222,1460,1155,A,4.825052e+10,14009.998440,7.048512,7.8
11,12,14,Switzerland,1879,1,20,786,275,342,169,1140,1341,E,6.420897e+11,76691.116844,-0.566144,4.9
12,13,16,Mexico,1859,-7,-75,885,455,224,206,1603,918,F,1.238151e+12,9707.908005,4.609583,3.9
13,14,17,Croatia,1853,-1,-5,297,158,59,80,519,284,D,6.032829e+10,14452.143028,-0.104515,13.1
14,15,18,Denmark,1843,17,122,803,366,275,162,1471,1128,C,3.475197e+11,60670.237214,-0.046444,6.2
15,16,19,Poland,1831,-5,-32,820,356,261,203,1404,1110,H,5.720562e+11,15065.971248,0.416250,6.2
16,17,20,Sweden,1796,1,9,1020,500,300,220,2067,1357,F,5.603866e+11,56473.022779,1.593251,7.0
17,18,21,Iran,1793,4,19,583,323,119,141,1095,462,B,5.405813e+11,6733.913474,1.607189,12.4
18,19,22,Iceland,1787,0,4,428,134,215,79,513,714,D,1.624929e+10,48441.859800,2.041961,3.0
19,20,24,Serbia,1770,9,25,754,351,239,164,1411,1044,E,4.130801e+10,5852.384299,2.534555,15.3
20,21,27,Senegal,1747,9,35,569,241,168,160,750,564,H,1.683335e+10,1092.251162,1.113505,NaN
21,22,30,South Korea,1746,-3,-22,941,511,199,231,1714,867,F,1.304659e+12,25458.887009,1.807303,3.7
22,23,31,Costa Rica,1745,-5,-24,680,317,201,162,1222,771,E,4.718404e+10,9714.099897,2.297648,9.0
23,24,40,Australia,1714,-3,3,535,270,150,115,1078,604,C,1.343181e+12,55478.577294,-0.413723,5.7
24,25,41,Morocco,1711,17,91,606,283,146,177,877,529,B,1.147840e+11,3204.864653,1.601841,9.4
25,26,43,Nigeria,1699,7,31,603,276,153,174,901,616,D,4.567754e+11,2455.918559,9.543670,7.1
26,27,44,Japan,1693,-21,-89,707,329,225,153,1227,851,H,6.047894e+12,47623.270931,0.267867,3.1
27,28,45,Russia,1685,3,11,696,361,153,182,1223,686,A,1.654434e+12,11279.625341,3.610349,NaN
28,29,49,Panama,1663,3,18,475,148,210,117,570,750,G,4.430420e+10,10982.373051,0.933312,4.4
29,30,51,Tunisia,1649,19,93,642,265,194,183,912,710,G,4.863909e+10,4265.371988,5.492198,15.5
30,31,52,Egypt,1646,-12,-39,752,381,193,178,1331,805,A,2.606939e+11,2724.396807,6.252383,12.4
31,32,67,Saudi Arabia,1568,-11,-55,687,337,193,157,1108,739,A,6.905499e+11,21395.359780,-2.513845,5.6

## World Cup Participation Data

In [35]:
# Load data of past soccer matches into a DataFrame
match_results_df = pd.read_csv('results.csv')
match_results_df['home_team'] = match_results_df['home_team'].replace('Korea Republic', 'South Korea')
match_results_df['away_team'] = match_results_df['away_team'].replace('Korea Republic', 'South Korea')
match_results_df

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland
6,1877-03-03,England,Scotland,1,3,Friendly,London,England
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland
10,1879-01-18,England,Wales,2,1,Friendly,London,England
11,1879-04-05,England,Scotland,5,4,Friendly,London,England
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England
17,1881-03-12,England,Scotland,1,6,Friendly,London,England
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland
20,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland
24,1883-02-03,England,Wales,5,0,Friendly,London,England
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England
27,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales
28,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Ireland
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Ireland
...,...,...,...,...,...,...,...,...
38729,2017-12-14,Kenya,Burundi,1,0,CECAFA Cup,Kisumu,Kenya
38730,2017-12-14,Qatar,Liechtenstein,1,2,Friendly,Doha,Qatar
38731,2017-12-15,Uganda,Zanzibar,1,2,CECAFA Cup,Kisumu,Kenya
38732,2017-12-15,Solomon Islands,Vanuatu,2,3,Friendly,Port Vila,Vanuatu
38733,2017-12-15,Tuvalu,Tonga,4,3,Friendly,Port Vila,Vanuatu
38734,2017-12-16,China PR,Korea DPR,1,1,EAFF Championship,Chōfu,Japan
38735,2017-12-16,Japan,South Korea,1,4,EAFF Championship,Chōfu,Japan
38736,2017-12-17,Burundi,Uganda,1,2,CECAFA Cup,Machakos,Kenya
38737,2017-12-17,Kenya,Zanzibar,2,2,CECAFA Cup,Machakos,Kenya
38738,2017-12-18,Bahrain,Kuwait,0,0,Friendly,Riffa,Bahrain
38739,2017-12-22,Kuwait,Saudi Arabia,1,2,Friendly,Kuwait,Kuwait
38740,2017-12-22,Oman,United Arab Emirates,0,1,Friendly,Kuwait,Kuwait
38741,2017-12-23,Qatar,Yemen,4,0,Friendly,Kuwait,Kuwait
38742,2017-12-23,Bahrain,Iraq,1,1,Friendly,Kuwait,Kuwait
38743,2017-12-25,United Arab Emirates,Saudi Arabia,0,0,Friendly,Kuwait,Kuwait
38744,2017-12-25,Kuwait,Oman,0,1,Friendly,Kuwait,Kuwait
38745,2017-12-25,Jordan,Libya,1,1,Friendly,Amman,Jordan
38746,2017-12-26,Yemen,Bahrain,0,1,Friendly,Kuwait,Kuwait
38747,2017-12-26,Iraq,Qatar,2,1,Friendly,Kuwait,Kuwait
38748,2017-12-28,Saudi Arabia,Oman,0,2,Friendly,Kuwait,Kuwait
38749,2017-12-28,Kuwait,United Arab Emirates,0,0,Friendly,Kuwait,Kuwait
38750,2017-12-29,Qatar,Bahrain,1,1,Friendly,Kuwait,Kuwait
38751,2017-12-29,Iraq,Yemen,3,0,Friendly,Kuwait,Kuwait
38752,2018-01-02,Oman,Bahrain,1,0,Friendly,Kuwait,Kuwait
38753,2018-01-02,Iraq,United Arab Emirates,0,0,Friendly,Kuwait,Kuwait
38754,2018-01-05,Oman,United Arab Emirates,0,0,Friendly,Kuwait,Kuwait
38755,2018-01-07,Estonia,Sweden,1,1,Friendly,Abu Dhabi,United Arab Emirates
38756,2018-01-11,Jordan,Finland,1,2,Friendly,Abu Dhabi,United Arab Emirates
38757,2018-01-11,Indonesia,Iceland,0,6,Friendly,Sleman,Indonesia
38758,2018-01-14,Indonesia,Iceland,1,4,Friendly,Jakarta,Indonesia

In [36]:
# Limit to world cup matches involving one of the teams in the 2018 World Cup
world_cup_matches_df = match_results_df[match_results_df['tournament'] == 'FIFA World Cup']
matches_df = world_cup_matches_df[world_cup_matches_df['home_team'].isin(country_names)
                                      | world_cup_matches_df['away_team'].isin(country_names)].copy()
matches_df

,date,home_team,away_team,home_score,away_score,tournament,city,country
1277,1930-07-13,Belgium,USA,0,3,FIFA World Cup,Montevideo,Uruguay
1278,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay
1279,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay
1280,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay
1281,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay
1282,1930-07-16,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay
1286,1930-07-18,Uruguay,Peru,1,0,FIFA World Cup,Montevideo,Uruguay
1287,1930-07-19,Argentina,Mexico,6,3,FIFA World Cup,Montevideo,Uruguay
1288,1930-07-19,Chile,France,1,0,FIFA World Cup,Montevideo,Uruguay
1289,1930-07-20,Belgium,Paraguay,0,1,FIFA World Cup,Montevideo,Uruguay
1290,1930-07-20,Bolivia,Brazil,0,4,FIFA World Cup,Montevideo,Uruguay
1291,1930-07-21,Uruguay,Romania,4,0,FIFA World Cup,Montevideo,Uruguay
1292,1930-07-22,Argentina,Chile,3,1,FIFA World Cup,Montevideo,Uruguay
1294,1930-07-26,Argentina,USA,6,1,FIFA World Cup,Montevideo,Uruguay
1295,1930-07-27,Uruguay,Yugoslavia,6,1,FIFA World Cup,Montevideo,Uruguay
1296,1930-07-30,Uruguay,Argentina,4,2,FIFA World Cup,Montevideo,Uruguay
1649,1934-05-27,Argentina,Sweden,2,3,FIFA World Cup,Bologna,Italy
1650,1934-05-27,Austria,France,3,2,FIFA World Cup,Turin,Italy
1651,1934-05-27,Belgium,Germany,2,5,FIFA World Cup,Florence,Italy
1652,1934-05-27,Brazil,Spain,1,3,FIFA World Cup,Genoa,Italy
1654,1934-05-27,Egypt,Hungary,2,4,FIFA World Cup,Naples,Italy
1656,1934-05-27,Netherlands,Switzerland,2,3,FIFA World Cup,Milan,Italy
1658,1934-05-31,Czechoslovakia,Switzerland,3,2,FIFA World Cup,Turin,Italy
1659,1934-05-31,Germany,Sweden,2,1,FIFA World Cup,Milan,Italy
1660,1934-05-31,Italy,Spain,1,1,FIFA World Cup,Florence,Italy
1661,1934-06-01,Italy,Spain,1,0,FIFA World Cup,Florence,Italy
1662,1934-06-03,Czechoslovakia,Germany,3,1,FIFA World Cup,Rome,Italy
1665,1934-06-07,Austria,Germany,2,3,FIFA World Cup,Naples,Italy
2049,1938-06-04,Germany,Switzerland,1,1,FIFA World Cup,Paris,France
2050,1938-06-05,Brazil,Poland,6,5,FIFA World Cup,Strasbourg,France
...,...,...,...,...,...,...,...,...
35563,2014-06-23,Australia,Spain,0,3,FIFA World Cup,Curitiba,Brazil
35564,2014-06-23,Cameroon,Brazil,1,4,FIFA World Cup,Brasília,Brazil
35565,2014-06-23,Croatia,Mexico,1,3,FIFA World Cup,Recife,Brazil
35567,2014-06-24,Costa Rica,England,0,0,FIFA World Cup,Belo Horizonte,Brazil
35569,2014-06-24,Italy,Uruguay,0,1,FIFA World Cup,Natal,Brazil
35570,2014-06-24,Japan,Colombia,1,4,FIFA World Cup,Cuiabá,Brazil
35571,2014-06-25,Bosnia-Herzegovina,Iran,3,1,FIFA World Cup,Salvador,Brazil
35572,2014-06-25,Ecuador,France,0,0,FIFA World Cup,Rio de Janeiro,Brazil
35573,2014-06-25,Honduras,Switzerland,0,3,FIFA World Cup,Manaus,Brazil
35575,2014-06-25,Nigeria,Argentina,2,3,FIFA World Cup,Porto Alegre,Brazil
35576,2014-06-26,Algeria,Russia,1,1,FIFA World Cup,Curitiba,Brazil
35577,2014-06-26,South Korea,Belgium,0,1,FIFA World Cup,São Paulo,Brazil
35578,2014-06-26,Portugal,Ghana,2,1,FIFA World Cup,Brasília,Brazil
35579,2014-06-26,USA,Germany,0,1,FIFA World Cup,Recife,Brazil
35580,2014-06-28,Brazil,Chile,1,1,FIFA World Cup,Belo Horizonte,Brazil
35581,2014-06-28,Colombia,Uruguay,2,0,FIFA World Cup,Rio de Janeiro,Brazil
35583,2014-06-29,Costa Rica,Greece,1,1,FIFA World Cup,Recife,Brazil
35584,2014-06-29,Netherlands,Mexico,2,1,FIFA World Cup,Fortaleza,Brazil
35585,2014-06-30,France,Nigeria,2,0,FIFA World Cup,Brasília,Brazil
35586,2014-06-30,Germany,Algeria,2,1,FIFA World Cup,Porto Alegre,Brazil
35587,2014-07-01,Argentina,Switzerland,1,0,FIFA World Cup,São Paulo,Brazil
35588,2014-07-01,Belgium,USA,2,1,FIFA World Cup,Salvador,Brazil
35590,2014-07-04,Brazil,Colombia,2,1,FIFA World Cup,Fortaleza,Brazil
35591,2014-07-04,France,Germany,0,1,FIFA World Cup,Rio de Janeiro,Brazil
35592,2014-07-05,Argentina,Belgium,1,0,FIFA World Cup,Brasília,Brazil
35593,2014-07-05,Netherlands,Costa Rica,0,0,FIFA World Cup,Salvador,Brazil
35595,2014-07-08,Brazil,Germany,1,7,FIFA World Cup,Belo Horizonte,Brazil
35596,2014-07-09,Netherlands,Argentina,0,0,FIFA World Cup,São Paulo,Brazil
35598,2014-07-12,Brazil,Netherlands,0,3,FIFA World Cup,Brasília,Brazil
35600,2014-07-13,Germany,Argentina,1,0,FIFA World Cup,Rio de Janeiro,Brazil

In [37]:
# Convert the date of each match to the corresponding year
matches_df['date'] = matches_df['date'].apply(lambda date : date.split('-')[0])
matches_df = matches_df.rename(columns={'date' : 'year'})
matches_df

,year,home_team,away_team,home_score,away_score,tournament,city,country
1277,1930,Belgium,USA,0,3,FIFA World Cup,Montevideo,Uruguay
1278,1930,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay
1279,1930,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay
1280,1930,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay
1281,1930,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay
1282,1930,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay
1286,1930,Uruguay,Peru,1,0,FIFA World Cup,Montevideo,Uruguay
1287,1930,Argentina,Mexico,6,3,FIFA World Cup,Montevideo,Uruguay
1288,1930,Chile,France,1,0,FIFA World Cup,Montevideo,Uruguay
1289,1930,Belgium,Paraguay,0,1,FIFA World Cup,Montevideo,Uruguay
1290,1930,Bolivia,Brazil,0,4,FIFA World Cup,Montevideo,Uruguay
1291,1930,Uruguay,Romania,4,0,FIFA World Cup,Montevideo,Uruguay
1292,1930,Argentina,Chile,3,1,FIFA World Cup,Montevideo,Uruguay
1294,1930,Argentina,USA,6,1,FIFA World Cup,Montevideo,Uruguay
1295,1930,Uruguay,Yugoslavia,6,1,FIFA World Cup,Montevideo,Uruguay
1296,1930,Uruguay,Argentina,4,2,FIFA World Cup,Montevideo,Uruguay
1649,1934,Argentina,Sweden,2,3,FIFA World Cup,Bologna,Italy
1650,1934,Austria,France,3,2,FIFA World Cup,Turin,Italy
1651,1934,Belgium,Germany,2,5,FIFA World Cup,Florence,Italy
1652,1934,Brazil,Spain,1,3,FIFA World Cup,Genoa,Italy
1654,1934,Egypt,Hungary,2,4,FIFA World Cup,Naples,Italy
1656,1934,Netherlands,Switzerland,2,3,FIFA World Cup,Milan,Italy
1658,1934,Czechoslovakia,Switzerland,3,2,FIFA World Cup,Turin,Italy
1659,1934,Germany,Sweden,2,1,FIFA World Cup,Milan,Italy
1660,1934,Italy,Spain,1,1,FIFA World Cup,Florence,Italy
1661,1934,Italy,Spain,1,0,FIFA World Cup,Florence,Italy
1662,1934,Czechoslovakia,Germany,3,1,FIFA World Cup,Rome,Italy
1665,1934,Austria,Germany,2,3,FIFA World Cup,Naples,Italy
2049,1938,Germany,Switzerland,1,1,FIFA World Cup,Paris,France
2050,1938,Brazil,Poland,6,5,FIFA World Cup,Strasbourg,France
...,...,...,...,...,...,...,...,...
35563,2014,Australia,Spain,0,3,FIFA World Cup,Curitiba,Brazil
35564,2014,Cameroon,Brazil,1,4,FIFA World Cup,Brasília,Brazil
35565,2014,Croatia,Mexico,1,3,FIFA World Cup,Recife,Brazil
35567,2014,Costa Rica,England,0,0,FIFA World Cup,Belo Horizonte,Brazil
35569,2014,Italy,Uruguay,0,1,FIFA World Cup,Natal,Brazil
35570,2014,Japan,Colombia,1,4,FIFA World Cup,Cuiabá,Brazil
35571,2014,Bosnia-Herzegovina,Iran,3,1,FIFA World Cup,Salvador,Brazil
35572,2014,Ecuador,France,0,0,FIFA World Cup,Rio de Janeiro,Brazil
35573,2014,Honduras,Switzerland,0,3,FIFA World Cup,Manaus,Brazil
35575,2014,Nigeria,Argentina,2,3,FIFA World Cup,Porto Alegre,Brazil
35576,2014,Algeria,Russia,1,1,FIFA World Cup,Curitiba,Brazil
35577,2014,South Korea,Belgium,0,1,FIFA World Cup,São Paulo,Brazil
35578,2014,Portugal,Ghana,2,1,FIFA World Cup,Brasília,Brazil
35579,2014,USA,Germany,0,1,FIFA World Cup,Recife,Brazil
35580,2014,Brazil,Chile,1,1,FIFA World Cup,Belo Horizonte,Brazil
35581,2014,Colombia,Uruguay,2,0,FIFA World Cup,Rio de Janeiro,Brazil
35583,2014,Costa Rica,Greece,1,1,FIFA World Cup,Recife,Brazil
35584,2014,Netherlands,Mexico,2,1,FIFA World Cup,Fortaleza,Brazil
35585,2014,France,Nigeria,2,0,FIFA World Cup,Brasília,Brazil
35586,2014,Germany,Algeria,2,1,FIFA World Cup,Porto Alegre,Brazil
35587,2014,Argentina,Switzerland,1,0,FIFA World Cup,São Paulo,Brazil
35588,2014,Belgium,USA,2,1,FIFA World Cup,Salvador,Brazil
35590,2014,Brazil,Colombia,2,1,FIFA World Cup,Fortaleza,Brazil
35591,2014,France,Germany,0,1,FIFA World Cup,Rio de Janeiro,Brazil
35592,2014,Argentina,Belgium,1,0,FIFA World Cup,Brasília,Brazil
35593,2014,Netherlands,Costa Rica,0,0,FIFA World Cup,Salvador,Brazil
35595,2014,Brazil,Germany,1,7,FIFA World Cup,Belo Horizonte,Brazil
35596,2014,Netherlands,Argentina,0,0,FIFA World Cup,São Paulo,Brazil
35598,2014,Brazil,Netherlands,0,3,FIFA World Cup,Brasília,Brazil
35600,2014,Germany,Argentina,1,0,FIFA World Cup,Rio de Janeiro,Brazil

In [38]:
# Use the home_team column to find the years in which each country participated in a World Cup
home_team_df = matches_df.merge(country_df, left_on='home_team', right_on='country')[['year', 'home_team']]
home_team_df = home_team_df[home_team_df['home_team'].isin(country_names)]
home_team_df = home_team_df.drop_duplicates().rename(columns={'home_team' : 'country'})
home_team_df

     year       country
0    1930       Belgium
2    1934       Belgium
3    1954       Belgium
5    1970       Belgium
7    1982       Belgium
10   1986       Belgium
11   1990       Belgium
14   1994       Belgium
17   1998       Belgium
19   2002       Belgium
20   2014       Belgium
23   1930        France
24   1938        France
26   1954        France
28   1958        France
33   1966        France
35   1978        France
37   1982        France
40   1986        France
43   1998        France
48   2002        France
50   2006        France
52   2010        France
54   2014        France
57   1930        Brazil
58   1934        Brazil
59   1938        Brazil
64   1950        Brazil
70   1954        Brazil
73   1958        Brazil
..    ...           ...
484  1986       Denmark
487  2002       Denmark
490  2010       Denmark
491  1990    Costa Rica
492  2002    Costa Rica
494  2006    Costa Rica
495  2014    Costa Rica
497  1994       Nigeria
499  1998       Nigeria
502  2002       Nigeria
503  2010       Nigeria
504  2014       Nigeria
506  1994  Saudi Arabia
508  1998  Saudi Arabia
509  2002  Saudi Arabia
510  2006  Saudi Arabia
512  1998        Serbia
513  2006        Serbia
514  2010        Serbia
515  1998         Japan
517  2002         Japan
520  2006         Japan
522  2010         Japan
523  2014         Japan
525  2002       Croatia
526  2006       Croatia
527  2014       Croatia
528  2002       Tunisia
530  2006       Tunisia
531  2002       Senegal

[216 rows x 2 columns]

In [39]:
# Use the away_team column to find the years in which each country participated in a World Cup
away_team_df = matches_df.merge(country_df, left_on='away_team', right_on='country')[['year', 'away_team']]
away_team_df = away_team_df[away_team_df['away_team'].isin(country_names)]
away_team_df = away_team_df.drop_duplicates().rename(columns={'away_team' : 'country'})
away_team_df

     year       country
0    1930        Mexico
3    1950        Mexico
4    1954        Mexico
6    1958        Mexico
8    1962        Mexico
10   1966        Mexico
12   1978        Mexico
13   1986        Mexico
16   1994        Mexico
18   1998        Mexico
22   2002        Mexico
23   2006        Mexico
25   2010        Mexico
28   2014        Mexico
31   1930        France
33   1934        France
34   1958        France
35   1966        France
36   1978        France
37   1982        France
41   1986        France
45   1998        France
47   2002        France
48   2006        France
53   2010        France
54   2014        France
56   1930          Peru
57   1970          Peru
61   1978          Peru
65   1982          Peru
..    ...           ...
418  1990         Egypt
421  1990    Costa Rica
424  2002    Costa Rica
425  2006    Costa Rica
427  2014    Costa Rica
430  1994  Saudi Arabia
432  1998  Saudi Arabia
434  2002  Saudi Arabia
436  2006  Saudi Arabia
437  1994       Nigeria
439  1998       Nigeria
440  2002       Nigeria
442  2010       Nigeria
444  2014       Nigeria
446  1998         Japan
447  2002         Japan
448  2006         Japan
449  2010         Japan
452  2014         Japan
453  1998       Croatia
460  2002       Croatia
462  2006       Croatia
464  2014       Croatia
466  1998          Iran
469  2006          Iran
471  2014          Iran
473  1998        Serbia
476  2006        Serbia
478  2010        Serbia
480  2002       Senegal

[216 rows x 2 columns]

In [40]:
# Concatenate home_team_df and away_team_df to create complete participated_in data
participated_in_df = pd.concat([home_team_df, away_team_df]).drop_duplicates().sort_values('year')
participated_in_df['year'] = participated_in_df['year'].astype(int)
participated_in_df

     year      country
0    1930      Belgium
200  1930      Uruguay
57   1930       Brazil
142  1930    Argentina
0    1930       Mexico
23   1930       France
138  1930         Peru
58   1934       Brazil
146  1934    Argentina
198  1934  Switzerland
167  1934        Spain
2    1934      Belgium
216  1934        Egypt
217  1934      Germany
109  1934       Sweden
33   1934       France
218  1938      Germany
59   1938       Brazil
237  1938      Belgium
220  1938       Poland
200  1938  Switzerland
24   1938       France
111  1938       Sweden
384  1950       Sweden
283  1950      Uruguay
350  1950      England
64   1950       Brazil
289  1950        Spain
328  1950       Mexico
317  1950  Switzerland
..    ...          ...
514  2010       Serbia
451  2010     Portugal
522  2010        Japan
418  2010  South Korea
312  2010        Spain
325  2010  Switzerland
503  2010      Nigeria
476  2010    Australia
490  2010      Denmark
281  2010      Germany
523  2014        Japan
453  2014     Portugal
326  2014  Switzerland
285  2014      Germany
383  2014      England
477  2014    Australia
483  2014         Iran
427  2014     Colombia
527  2014      Croatia
54   2014       France
349  2014       Mexico
495  2014   Costa Rica
20   2014      Belgium
504  2014      Nigeria
214  2014      Uruguay
419  2014  South Korea
441  2014       Russia
132  2014       Brazil
196  2014    Argentina
315  2014        Spain

[245 rows x 2 columns]

In [41]:
# Check how many World Cups each country participated in (used to verify accuracy of participated_in_df)
participated_in_df.groupby('country').size().reset_index(name='count').sort_values('count', ascending=False)

         country  count
3         Brazil     20
11       Germany     18
0      Argentina     16
14        Mexico     15
9        England     14
25         Spain     14
10        France     14
29       Uruguay     12
2        Belgium     12
26        Sweden     11
20        Russia     10
27   Switzerland     10
24   South Korea      9
18        Poland      7
19      Portugal      6
13         Japan      5
4       Colombia      5
16       Nigeria      5
28       Tunisia      4
21  Saudi Arabia      4
15       Morocco      4
7        Denmark      4
17          Peru      4
1      Australia      4
12          Iran      4
5     Costa Rica      4
6        Croatia      4
23        Serbia      3
8          Egypt      2
22       Senegal      1

## World Cup Outcomes Data

In [42]:
# Load DataFrame containing winner and runner-up for each past World Cup
outcomes_df = pd.read_csv('world_cup_outcomes.csv')
outcomes_df

    year     winner       runner-up
0   1930    Uruguay       Argentina
1   1934      Italy  Czechoslovakia
2   1938      Italy         Hungary
3   1950    Uruguay          Brazil
4   1954    Germany         Hungary
5   1958     Brazil          Sweden
6   1962     Brazil  Czechoslovakia
7   1966    England         Germany
8   1970     Brazil           Italy
9   1974    Germany     Netherlands
10  1978  Argentina     Netherlands
11  1982      Italy         Germany
12  1986  Argentina         Germany
13  1990    Germany       Argentina
14  1994     Brazil           Italy
15  1998     France          Brazil
16  2002     Brazil         Germany
17  2006      Italy          France
18  2010      Spain     Netherlands
19  2014    Germany       Argentina

## Final Results

In [43]:
country_full_df

,local_rank,global_rank,country,elo_rating,rank_year_change,elo_rating_year_change,total_matches,wins,losses,draws,goals_for,goals_against,group,gdp,gdp_per_capita,interest_rate,unemployment_rate
0,1,1,Brazil,2131,0,8,962,609,157,196,2089,880,E,2.248106e+12,10826.271435,8.332567,11.6
1,2,2,Germany,2092,0,45,940,548,201,191,2115,1102,F,3.781699e+12,45845.526542,1.329211,4.1
2,3,3,Spain,2048,1,44,680,398,129,153,1354,617,B,1.464509e+12,31505.292976,0.283304,19.6
3,4,4,Argentina,1985,-1,-20,1003,536,218,249,1884,1066,D,4.452267e+11,10153.997912,40.675310,NaN
4,5,5,France,1984,0,-7,825,400,253,172,1456,1175,C,2.810525e+12,42015.738294,0.385266,10.1
5,6,6,Portugal,1975,5,52,595,285,174,136,993,700,B,2.315616e+11,22426.287927,1.425893,11.1
6,7,7,England,1941,3,15,1035,604,191,240,2437,1020,G,2.753793e+12,41981.392089,2.002364,4.8
7,8,8,Colombia,1935,-1,-25,555,216,190,149,698,668,H,3.661586e+11,7525.855326,5.852432,8.4
8,9,9,Belgium,1931,3,43,760,318,279,163,1323,1244,G,5.155572e+11,45469.710833,1.583903,7.8
9,10,11,Peru,1906,6,58,615,199,263,153,774,883,C,1.934837e+11,6089.403468,3.642463,6.6
10,11,13,Uruguay,1890,0,20,918,401,295,222,1460,1155,A,4.825052e+10,14009.998440,7.048512,7.8
11,12,14,Switzerland,1879,1,20,786,275,342,169,1140,1341,E,6.420897e+11,76691.116844,-0.566144,4.9
12,13,16,Mexico,1859,-7,-75,885,455,224,206,1603,918,F,1.238151e+12,9707.908005,4.609583,3.9
13,14,17,Croatia,1853,-1,-5,297,158,59,80,519,284,D,6.032829e+10,14452.143028,-0.104515,13.1
14,15,18,Denmark,1843,17,122,803,366,275,162,1471,1128,C,3.475197e+11,60670.237214,-0.046444,6.2
15,16,19,Poland,1831,-5,-32,820,356,261,203,1404,1110,H,5.720562e+11,15065.971248,0.416250,6.2
16,17,20,Sweden,1796,1,9,1020,500,300,220,2067,1357,F,5.603866e+11,56473.022779,1.593251,7.0
17,18,21,Iran,1793,4,19,583,323,119,141,1095,462,B,5.405813e+11,6733.913474,1.607189,12.4
18,19,22,Iceland,1787,0,4,428,134,215,79,513,714,D,1.624929e+10,48441.859800,2.041961,3.0
19,20,24,Serbia,1770,9,25,754,351,239,164,1411,1044,E,4.130801e+10,5852.384299,2.534555,15.3
20,21,27,Senegal,1747,9,35,569,241,168,160,750,564,H,1.683335e+10,1092.251162,1.113505,NaN
21,22,30,South Korea,1746,-3,-22,941,511,199,231,1714,867,F,1.304659e+12,25458.887009,1.807303,3.7
22,23,31,Costa Rica,1745,-5,-24,680,317,201,162,1222,771,E,4.718404e+10,9714.099897,2.297648,9.0
23,24,40,Australia,1714,-3,3,535,270,150,115,1078,604,C,1.343181e+12,55478.577294,-0.413723,5.7
24,25,41,Morocco,1711,17,91,606,283,146,177,877,529,B,1.147840e+11,3204.864653,1.601841,9.4
25,26,43,Nigeria,1699,7,31,603,276,153,174,901,616,D,4.567754e+11,2455.918559,9.543670,7.1
26,27,44,Japan,1693,-21,-89,707,329,225,153,1227,851,H,6.047894e+12,47623.270931,0.267867,3.1
27,28,45,Russia,1685,3,11,696,361,153,182,1223,686,A,1.654434e+12,11279.625341,3.610349,NaN
28,29,49,Panama,1663,3,18,475,148,210,117,570,750,G,4.430420e+10,10982.373051,0.933312,4.4
29,30,51,Tunisia,1649,19,93,642,265,194,183,912,710,G,4.863909e+10,4265.371988,5.492198,15.5
30,31,52,Egypt,1646,-12,-39,752,381,193,178,1331,805,A,2.606939e+11,2724.396807,6.252383,12.4
31,32,67,Saudi Arabia,1568,-11,-55,687,337,193,157,1108,739,A,6.905499e+11,21395.359780,-2.513845,5.6

In [44]:
country_full_df.dtypes

local_rank                  int64
global_rank                 int64
country                    object
elo_rating                  int64
rank_year_change            int64
elo_rating_year_change      int64
total_matches               int64
wins                        int64
losses                      int64
draws                       int64
goals_for                   int64
goals_against               int64
group                      object
gdp                       float64
gdp_per_capita            float64
interest_rate             float64
unemployment_rate         float64
dtype: object

In [45]:
player_df

,player_id,name,age,nationality,overall,potential,club,value,wage
0,20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,95500000,565000
1,158023,L. Messi,30,Argentina,93,93,FC Barcelona,105000000,565000
2,190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,123000000,280000
3,176580,L. Suarez,30,Uruguay,92,92,FC Barcelona,97000000,510000
4,167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,61000000,230000
5,188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,92000000,355000
6,193080,De Gea,26,Spain,90,92,Manchester United,64500000,215000
7,183277,E. Hazard,26,Belgium,90,91,Chelsea,90500000,295000
8,182521,T. Kroos,27,Germany,90,90,Real Madrid CF,79000000,340000
9,167664,G. Higuain,29,Argentina,90,90,Juventus,77000000,275000
10,155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,52000000,310000
11,192985,K. De Bruyne,26,Belgium,89,92,Manchester City,83000000,285000
12,192119,T. Courtois,25,Belgium,89,92,Chelsea,59000000,190000
14,177003,L. Modric,31,Croatia,89,89,Real Madrid CF,57000000,340000
16,153079,S. Aguero,29,Argentina,89,89,Manchester City,66500000,325000
19,211110,P. Dybala,23,Argentina,88,93,Juventus,79000000,215000
21,194765,A. Griezmann,26,France,88,91,Atletico Madrid,75000000,150000
22,189509,Thiago,26,Spain,88,90,FC Bayern Munich,70500000,225000
25,183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,48000000,215000
26,182493,D. Godin,31,Uruguay,88,88,Atletico Madrid,40000000,125000
27,178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,48000000,215000
28,176635,M. Ozil,28,Germany,88,88,Arsenal,60000000,265000
29,167948,H. Lloris,30,France,88,88,Tottenham Hotspur,38000000,165000
30,164240,Thiago Silva,32,Brazil,88,88,Paris Saint-Germain,34000000,175000
31,41236,Z. Ibrahimovic,35,Sweden,88,88,Manchester United,27000000,240000
33,215914,N. Kante,26,France,87,90,Chelsea,52500000,190000
35,195864,P. Pogba,24,France,87,92,Manchester United,66500000,195000
36,190460,C. Eriksen,25,Denmark,87,91,Tottenham Hotspur,65000000,165000
38,179813,E. Cavani,30,Uruguay,87,87,Paris Saint-Germain,48500000,160000
39,176676,Marcelo,29,Brazil,87,87,Real Madrid CF,38000000,250000
...,...,...,...,...,...,...,...,...,...
17921,239566,J. Schau,18,Germany,49,67,FC Carl Zeiss Jena,50000,1000
17923,232924,H. Tanaka,34,Japan,49,49,Vissel Kobe,10000,1000
17924,237535,T. Matsumoto,18,Japan,49,69,Sanfrecce Hiroshima,60000,1000
17925,231651,V. Fazliu,21,Switzerland,49,63,Grasshopper Club Zurich,60000,2000
17928,240102,J. Cuero,17,Colombia,49,69,La Equidad,60000,1000
17929,236776,C. Salkeld,18,England,49,66,Carlisle United,60000,1000
17930,240112,C. Gnerlich,18,Germany,49,62,SV Meppen,50000,1000
17933,235770,H. Pickering,18,England,49,64,Crewe Alexandra,50000,1000
17936,237330,T. Donaldson,19,England,48,68,Doncaster Rovers,60000,1000
17937,239933,V. Soromytko,22,Russia,48,57,FC SKA-Energiya Khabarovsk,30000,2000
17942,232840,E. Hudson,18,England,48,64,Bradford City,60000,1000
17944,227224,M. Foy,18,England,48,68,Cambridge United,60000,2000
17946,237746,Y. Uchimura,32,Japan,48,48,Hokkaido Consadole Sapporo,20000,1000
17950,235994,D. Amos,17,England,48,74,Doncaster Rovers,60000,1000
17953,238833,K. Cotter,18,England,48,67,Luton Town,60000,1000
17954,225778,T. Robinson,19,England,48,64,Bradford City,60000,1000
17956,240381,Z. Mohammed,17,England,48,64,Accrington Stanley,50000,1000
17961,233047,J. Latibeaudiere,17,England,47,73,Manchester City,60000,5000
17962,236425,J. Payne,18,England,47,63,Barnet,50000,1000
17966,238477,K. Fujikawa,18,Japan,47,67,Jubilo Iwata,60000,1000
17967,231824,K. Egan,19,England,47,67,Exeter City,60000,1000
17968,237974,T. Brownsword,17,England,47,68,Morecambe,60000,1000
17970,231107,A. Kilgour,19,England,47,56,Bristol Rovers,40000,1000
17971,240325,R. White,18,England,47,65,Bolton Wanderers,60000,2000
17973,240403,T. Sawyer,18,England,46,58,Grimsby Town,50000,1000
17974,240404,J. Keeble,18,England,46,56,Grimsby Town,40000,1000
17975,235352,T. Kassemodel,28,Germany,46,46,FC Erzgebirge Aue,30000,1000
17976,237463,A. Kelsey,17,England,46,63,Scunthorpe United,50000,1000
17977,11728,B. Richardson,47,England,46,46,Wycombe Wanderers,0,1000
17979,238813,J. Lundstram,18,England,46,64,Crewe Alexandra,60000,1000

In [46]:
player_df.dtypes

player_id       int64
name           object
age             int64
nationality    object
overall         int64
potential       int64
club           object
value           int64
wage            int64
dtype: object

In [47]:
player_position_df

       player_id position  overall
0          20801       ST       92
1          20801       LW       91
2         158023       RW       91
3         190871       LW       89
4         176580       ST       88
5         167495       GK       92
6         188545       ST       88
7         193080       GK       90
8         183277       LW       88
9         182521      CDM       82
10        182521       CM       87
11        167664       ST       87
12        155862       CB       87
13        192985       RM       85
14        192985       CM       84
15        192985      CAM       86
16        192119       GK       89
17        177003      CDM       80
18        177003       CM       86
19        153079       ST       86
20        211110       ST       83
21        211110      CAM       86
22        194765       LW       86
23        194765       RW       86
24        194765       ST       85
25        189509      CDM       76
26        189509      CAM       86
27        189509       CM       85
28        183907       CB       85
29        182493       CB       86
...          ...      ...      ...
19146     240112      CDM       48
19147     235770       LM       43
19148     235770       LB       48
19149     237330      CAM       47
19150     239933       GK       48
19151     232840       LM       47
19152     227224       ST       47
19153     237746      CAM       47
19154     235994       LM       48
19155     235994       LB       47
19156     238833       RB       47
19157     238833       CM       47
19158     225778       LM       47
19159     240381       CB       47
19160     233047       CB       46
19161     236425       CB       46
19162     236425       LB       46
19163     238477       CM       46
19164     231824       RB       46
19165     237974       CB       46
19166     231107       CB       46
19167     240325       ST       52
19168     240325       RM       46
19169     240325       LM       46
19170     240403       CM       45
19171     240404       CB       45
19172     235352       CM       45
19173     237463       GK       46
19174      11728       GK       46
19175     238813       CM       45

[19176 rows x 3 columns]

In [48]:
player_position_df.dtypes

player_id     int64
position     object
overall       int64
dtype: object

In [49]:
outcomes_df

    year     winner       runner-up
0   1930    Uruguay       Argentina
1   1934      Italy  Czechoslovakia
2   1938      Italy         Hungary
3   1950    Uruguay          Brazil
4   1954    Germany         Hungary
5   1958     Brazil          Sweden
6   1962     Brazil  Czechoslovakia
7   1966    England         Germany
8   1970     Brazil           Italy
9   1974    Germany     Netherlands
10  1978  Argentina     Netherlands
11  1982      Italy         Germany
12  1986  Argentina         Germany
13  1990    Germany       Argentina
14  1994     Brazil           Italy
15  1998     France          Brazil
16  2002     Brazil         Germany
17  2006      Italy          France
18  2010      Spain     Netherlands
19  2014    Germany       Argentina

In [50]:
outcomes_df.dtypes

year          int64
winner       object
runner-up    object
dtype: object

In [51]:
participated_in_df

     year      country
0    1930      Belgium
200  1930      Uruguay
57   1930       Brazil
142  1930    Argentina
0    1930       Mexico
23   1930       France
138  1930         Peru
58   1934       Brazil
146  1934    Argentina
198  1934  Switzerland
167  1934        Spain
2    1934      Belgium
216  1934        Egypt
217  1934      Germany
109  1934       Sweden
33   1934       France
218  1938      Germany
59   1938       Brazil
237  1938      Belgium
220  1938       Poland
200  1938  Switzerland
24   1938       France
111  1938       Sweden
384  1950       Sweden
283  1950      Uruguay
350  1950      England
64   1950       Brazil
289  1950        Spain
328  1950       Mexico
317  1950  Switzerland
..    ...          ...
514  2010       Serbia
451  2010     Portugal
522  2010        Japan
418  2010  South Korea
312  2010        Spain
325  2010  Switzerland
503  2010      Nigeria
476  2010    Australia
490  2010      Denmark
281  2010      Germany
523  2014        Japan
453  2014     Portugal
326  2014  Switzerland
285  2014      Germany
383  2014      England
477  2014    Australia
483  2014         Iran
427  2014     Colombia
527  2014      Croatia
54   2014       France
349  2014       Mexico
495  2014   Costa Rica
20   2014      Belgium
504  2014      Nigeria
214  2014      Uruguay
419  2014  South Korea
441  2014       Russia
132  2014       Brazil
196  2014    Argentina
315  2014        Spain

[245 rows x 2 columns]

In [52]:
participated_in_df.dtypes

year        int64
country    object
dtype: object

## Output to CSV

In [414]:
country_full_df.to_csv('output_csv/country.csv', index=False)

In [482]:
player_df.to_csv('output_csv/player.csv', index=False)

In [416]:
player_position_df.to_csv('output_csv/player_by_position.csv', index=False)

In [417]:
outcomes_df.to_csv('output_csv/world_cup_outcomes.csv', index=False)

In [418]:
participated_in_df.to_csv('output_csv/participated_in.csv', index=False)